<h3>{{leyenda}}</h3>
<div class="input-group">
    <div class="input-group-prepend">
        <button class="btn btn-outline-primary" (click)="cambiarValor(-5)" type="button"><i class="fa fa-minus"></i></button>
    </div>
    <input #txtProgress name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChange($event)" type="number" class="form-control" min="1" max="100">
    <div class="input-group-append">
        <button class="btn btn-outline-primary" (click)="cambiarValor(+5)" type="button"><i class="fa fa-plus"></i></button>
    </div>
</div>